.header {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

.content {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

.centralize {
  display: flex;
  justify-content: center;
}

.rightAlign {
  text-align: right;
}